NET "ddr3_dq[0]"                             LOC = "AA7"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[1]"                             LOC = "AE7"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[2]"                             LOC = "AC9"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[3]"                             LOC = "AB9"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[4]"                             LOC = "AC7"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[5]"                             LOC = "AB7"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[6]"                             LOC = "AF7"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[7]"                             LOC = "AA8"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[8]"                             LOC = "AF2"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[9]"                             LOC = "AE2"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[10]"                            LOC = "AE3"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[11]"                            LOC = "AD3"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[12]"                            LOC = "AE6"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[13]"                            LOC = "AE1"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[14]"                            LOC = "AF3"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[15]"                            LOC = "AD4"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[16]"                            LOC = "AC11"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[17]"                            LOC = "AA12"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[18]"                            LOC = "AB10"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[19]"                            LOC = "AD13"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[20]"                            LOC = "AC13"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[21]"                            LOC = "AB11"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[22]"                            LOC = "AA10"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[23]"                            LOC = "Y12"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[24]"                            LOC = "AF10"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[25]"                            LOC = "AE10"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[26]"                            LOC = "AE11"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[27]"                            LOC = "AF9"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[28]"                            LOC = "AE13"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[29]"                            LOC = "AF8"     |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[30]"                            LOC = "AF13"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dq[31]"                            LOC = "AD10"    |   IOSTANDARD = SSTL15_T_DCI          ;                                 
NET "ddr3_dm[0]"                             LOC = "AD9"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_dm[1]"                             LOC = "AD1"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_dm[2]"                             LOC = "AA13"    |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_dm[3]"                             LOC = "AE8"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_dqs_p[0]"                          LOC = "AC8"     |   IOSTANDARD = DIFF_SSTL15_T_DCI     ;                                 
NET "ddr3_dqs_n[0]"                          LOC = "AD8"     |   IOSTANDARD = DIFF_SSTL15_T_DCI     ;                                 
NET "ddr3_dqs_p[1]"                          LOC = "AF5"     |   IOSTANDARD = DIFF_SSTL15_T_DCI     ;                                 
NET "ddr3_dqs_n[1]"                          LOC = "AF4"     |   IOSTANDARD = DIFF_SSTL15_T_DCI     ;                                 
NET "ddr3_dqs_p[2]"                          LOC = "AB12"    |   IOSTANDARD = DIFF_SSTL15_T_DCI     ;                                 
NET "ddr3_dqs_n[2]"                          LOC = "AC12"    |   IOSTANDARD = DIFF_SSTL15_T_DCI     ;                                 
NET "ddr3_dqs_p[3]"                          LOC = "AE12"    |   IOSTANDARD = DIFF_SSTL15_T_DCI     ;                                 
NET "ddr3_dqs_n[3]"                          LOC = "AF12"    |   IOSTANDARD = DIFF_SSTL15_T_DCI     ;                                 
NET "ddr3_addr[14]"                          LOC = "U1"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[13]"                          LOC = "U2"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[12]"                          LOC = "AA3"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[11]"                          LOC = "W4"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[10]"                          LOC = "AC3"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[9]"                           LOC = "V4"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[8]"                           LOC = "V3"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[7]"                           LOC = "V1"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[6]"                           LOC = "V2"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[5]"                           LOC = "W5"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[4]"                           LOC = "Y5"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[3]"                           LOC = "W3"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[2]"                           LOC = "W1"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[1]"                           LOC = "Y3"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_addr[0]"                           LOC = "Y2"      |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_ba[2]"                             LOC = "AA2"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_ba[1]"                             LOC = "AA4"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_ba[0]"                             LOC = "AA5"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_ck_p[0]"                           LOC = "AD6"     |   IOSTANDARD = DIFF_SSTL15           ;                                 
NET "ddr3_ck_n[0]"                           LOC = "AD5"     |   IOSTANDARD = DIFF_SSTL15           ;                                 
NET "ddr3_ras_n"                             LOC = "AC2"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_cas_n"                             LOC = "AB2"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_we_n"                              LOC = "AB5"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_reset_n"                           LOC = "Y1"      |   IOSTANDARD = LVCMOS15              ;                                 
NET "ddr3_cke[0]"                            LOC = "AC4"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_odt[0]"                            LOC = "AC1"     |   IOSTANDARD = SSTL15                ;                                 
NET "ddr3_cs_n[0]"                           LOC = "AB1"     |   IOSTANDARD = SSTL15                ;                                 
